* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 51);
}

main {
    height: 100%;
    width: 100%;
}

#desktop {
    display: grid;
}
.chunky-border {
    border-top: 4px solid white;
    border-right: 4px solid darkslategray;
    border-bottom: 4px solid darkslategray;
    box-sizing: border-box;
}

#taskbar {
    height: 36px;
    padding: 4px;
    width: 100%;
    background-color:darkgray;
    position: fixed;
    bottom: 0px;
    z-index: 1;
    border-bottom: 0;
    box-sizing: content-box;
}

#taskbar a {
    padding: 6px;
}

.desktop-icon {
    text-align: center;
    padding: 10px;
    float: left;
    width: 64px;
    height: 64px;
    text-decoration: none;
    color: lightgray;
}

.desktop-icon:active {
    background-color: #aaaaaa33;
}

.start-menu {
    position: absolute;
    bottom: 48px;
    left: 0px;
    width: 200px;
    height: 320px;
    background-color: #aaa;
    padding: 12px;
    z-index: 9;
    visibility: hidden;
}

.start-menu ul {
    
    list-style-type: none;
}

.start-menu h3 {
    padding-bottom: 12px;
}


.window {
    width: auto;
    height: 300px;
    background-color: #ccc;
    position: absolute;
    bottom: 150px;
    left: 200px;

}

.window h2 {
    padding: 8px;
    margin: 8px;
}

.window p {
    padding: 8px;
    margin: 8px;
}

.topbar {
    width: 100%;
    background-color: gray;
    list-style-type: none;
    overflow: hidden;
    cursor: move;
}
.topbar li {
    float: left;
    padding: 2px;
    padding-left: 12px;
    color: darkgray;
}

.topbar li.windowbuttons {
    float: right;
}

.topbar li a {
    text-decoration: none;
    display: block;
}

.topbar li.windowbuttons a {
    border: 1px solid #000;
    padding: 0px 3px;
}



.window {
    visibility: hidden;
    z-index: 10;
}

.icon:checked + .popup {
    visibility: visible;
}

input {
    position:absolute;
    left: -200px;
}



