* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
}

.sketchborder {
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    border-bottom-right-radius: 225px 15px;
    border-bottom-left-radius:15px 255px;
    border:solid 2px #41403E;
}
header {
    padding: 40px;
    text-align: center;
    background-color: skyblue;

    
}
header h1 {
    font-size: 40px;
    color: #ddd;
}
nav {
    overflow: hidden;
    width: 100%;
    position: absolute top;

    background-color: #444;
}
nav a {
    display: inline-block;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
    background-color: #444;
    color: white;
}
nav a:hover {
    background-color: #ddd;
}

main {
    display: flex;
    flex-wrap: wrap;
    background-color: #ccc;
}
ul {
    list-style-type: square;
    padding-left: 20px;
}
main section h3 {
    padding-bottom: 20px;
}
#leftcolumn {
    flex: 30%;
    padding: 20px;
    background-color: #ccc;
}

#content {
    flex: 70%;
    padding: 20px;
}

@media screen and (max-width: 700px) {
    #leftcolumn {
        flex-direction: column;
    }
}

@media screen and (max-width: 400px) {
    nav a {
        float: none;
        width: 100%;
    }
}

footer {
    padding: 20px;
    text-align: center;
}
a {
    color: lightblue;
}
